<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.songsmily.petapi.dao.PetinfoDao">
    <select id="returnUnCheckPetInfo" resultMap="petinfo" parameterType="java.util.Map">
        select pi.*  from petinfo pi
        <where>
            and pi.pet_status=0
            <if test="params.userIDs!=null">
                and pi.hoste_id in
                <foreach  item="item" collection="params.userIDs" index="index"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        limit ${params.begin} , ${params.end}
    </select>
    <resultMap id="petinfo" type="com.songsmily.petapi.entity.Petinfo">
        <id property="petId" column="pet_id"/>
        <result property="petNo" column="pet_no"/>
        <result property="petTypeId" column="pet_type_id"/>
        <result property="hosteId" column="hoste_id"/>
        <result property="petName" column="pet_name"/>
        <result property="petType" column="pet_type"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="petSex" column="pet_sex"/>
        <result property="petHeight" column="pet_height"/>
        <result property="petBirthday" column="pet_birthday"/>
        <result property="petHairColor" column="pet_hair_color"/>
        <result property="petRaiseAddr" column="pet_raise_addr"/>
        <result property="petWeight" column="pet_weight"/>
        <result property="petImageUrl" column="pet_image_url"/>
        <result property="petDesc" column="pet_desc"/>
        <result property="petStatus" column="pet_status"/>
    </resultMap>
    <select id="returnUnCheckCardPetInfoCountByUserIDs" resultType="Integer">
        select count(*) from petinfo pi left join  pet_card pc on pc.pet_id=pi.pet_id where pc.card_status=0 and pi.hoste_id in
        <foreach  item="item" collection="userIDs" index="index"  open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="returnUnCheckCardPetInfo" resultMap="petinfo_card" parameterType="java.util.Map">
        select pi.* ,pc.* from petinfo pi left join  pet_card pc on pc.pet_id=pi.pet_id
        <where>
         and pc.card_status=0
            <if test="params.userIDs!=null">
                and pi.hoste_id in
                <foreach  item="item" collection="params.userIDs" index="index"  open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
         limit ${params.begin} , ${params.end}
    </select>
    <resultMap id="petinfo_card" type="com.songsmily.petapi.entity.Petinfo">
        <id property="petId" column="pet_id"/>
        <result property="petNo" column="pet_no"/>
        <result property="petTypeId" column="pet_type_id"/>
        <result property="hosteId" column="hoste_id"/>
        <result property="petName" column="pet_name"/>
        <result property="petType" column="pet_type"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="petSex" column="pet_sex"/>
        <result property="petHeight" column="pet_height"/>
        <result property="petBirthday" column="pet_birthday"/>
        <result property="petHairColor" column="pet_hair_color"/>
        <result property="petRaiseAddr" column="pet_raise_addr"/>
        <result property="petWeight" column="pet_weight"/>
        <result property="petImageUrl" column="pet_image_url"/>
        <result property="petDesc" column="pet_desc"/>
        <result property="petStatus" column="pet_status"/>
        <collection property="petCard" ofType="com.songsmily.petapi.entity.PetCard">
            <id property="petCardId" column="pet_card_id"/>
            <result property="petId" column="pet_id"/>
            <result property="cardNumber" column="card_number"/>
            <result property="cardStatus" column="card_status"/>
            <result property="gmtCreated" column="gmt_created"/>
            <result property="gmtModified" column="gmt_modified"/>
            <result property="cardImageUrl" column="card_image_url"/>
            <result property="falseRes" column="false_res"/>
        </collection>
    </resultMap>
    <select id="returnPetCardImmunityInfos" resultMap="petinfo_card_immunity">
       select
        pI.*,
        pC.*,
        pT.*
    from
        petinfo pI
    left join
        pet_card pC
		on pI.pet_id=pC.pet_id
    left join
        pet_immunity pT
		on pC.pet_card_id=pT.pet_card_id
    where
        pI.hoste_id=#{petId}
    </select>
    <resultMap id="petinfo_card_immunity" type="com.songsmily.petapi.entity.Petinfo">
        <id property="petId" column="pet_id"/>
        <result property="petNo" column="pet_no"/>
        <result property="petTypeId" column="pet_type_id"/>
        <result property="hosteId" column="hoste_id"/>
        <result property="petName" column="pet_name"/>
        <result property="petType" column="pet_type"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="petSex" column="pet_sex"/>
        <result property="petHeight" column="pet_height"/>
        <result property="petBirthday" column="pet_birthday"/>
        <result property="petHairColor" column="pet_hair_color"/>
        <result property="petRaiseAddr" column="pet_raise_addr"/>
        <result property="petWeight" column="pet_weight"/>
        <result property="petImageUrl" column="pet_image_url"/>
        <result property="petDesc" column="pet_desc"/>
        <result property="petStatus" column="pet_status"/>
        <collection property="petCards" ofType="com.songsmily.petapi.entity.PetCard">
            <id property="id" column="pet_card_id"/>
            <result property="petId" column="pet_id"/>
            <result property="cardNumber" column="card_number"/>
            <result property="cardStatus" column="card_status"/>
            <result property="gmtCreated" column="gmt_created"/>
            <result property="gmtModified" column="gmt_modified"/>
            <collection property="petImmunities" ofType="com.songsmily.petapi.entity.PetImmunity">
                <id property="id" column="pet_immunity_id"/>
                <result property="petId" column="pet_id"/>
                <result property="petCardId" column="pet_card_id"/>
                <result property="immunityTime" column="immunity_time"/>
                <result property="immunityType" column="immunity_type"/>
                <result property="immunityStatus" column="immunity_status"/>
                <result property="gmtCreate" column="gmt_create"/>
                <result property="gmtModified" column="gmt_modified"/>
            </collection>

        </collection>
    </resultMap>

</mapper>